/* Daoistic list of cards */

main.cards {

    line-height: normal;

    header {
        padding: 2rem 0;
        border-bottom: 4px solid $light-background;
    }

    h1 {
        margin: initial;
    }

    section.subtitle {
        font-style: italic;
    }
}

/* Daoistic blog entry card */

$card-figure-size: 100px;
$card-figure-size-mobile: 50px;
$card-img-radius: 10px;
$card-img-radius-mobile: 5px;

article.card {

    display: flex;
    padding-top: 1rem;
    border-bottom: 4px solid $light-background;

    figure {
        height: $card-figure-size-mobile;
        width: $card-figure-size-mobile;
        margin-top: 0.2rem;
        margin-right: 1rem;

        img {
            max-width: 100%;
            border-radius: $card-img-radius-mobile;

            a {
                &:hover,
                &:active,
                &:focus {
                    border-bottom: 0;
                }
            }
        }
    }

    a.plain {
        font-size: larger;
    }

    a.study {
        font-size: smaller;
        margin-left: 0.3rem;
        color: transparent;
        &:hover,
        &:active,
        &:focus {
            color: $link-hover-color;
            border-bottom: 0;
        }
    }

    p.date {
        font-size: smaller;
        padding-top: 0.3rem;
    }

    @include small-breakpoint {

        figure {
            height: $card-figure-size;
            width: $card-figure-size;

            img {
                border-radius: $card-img-radius;
            }
        }
    }
}
