/* Daoistic entry */

$entry-font-size: $body-font-size + 0.15rem !default;
$entry-font-size-mobile: $body-font-size-mobile + 0.1rem !default;

main.entry {

    figure {
        height: 0;
        overflow: hidden;
        padding-bottom: 33.333%;
        position: relative;
    }

    img {
        width: 100%;
        height: auto;
    }

    > article {
        max-width: 100%;
        padding: 0 1rem;

        section.content {
            font-size: $entry-font-size-mobile;
            font-family: serif;
        }

        section.copyright {
            font-size: smaller;
        }

        @include small-breakpoint {
            section.content {
                font-size: $entry-font-size;
            }
        }
    }
}
