/* Daoistic entry */

$entry-copyright-font-size: $body-font-size - 0.3rem !default;
$entry-copyright-font-size-mobile: $body-font-size-mobile - 0.2rem !default;
$entry-font-size: $body-font-size + 0.15rem !default;
$entry-font-size-mobile: $body-font-size-mobile + 0.1rem !default;

main.entry {
  max-width: 825px;
  margin-left: auto;
  margin-right: auto;
}

main.entry header figure {
  height: 0;
  overflow: hidden;
  padding-bottom: 33.333%;
  position: relative;
}

main.entry header figure img {
  width: 100%;
  height: auto;
}

main.entry article {
  max-width: 100%;
  padding: 0 1rem;
}

main.entry article a.hanzi {
  font-weight: inherit;
  color: inherit;
  &:hover,
  &:active,
  &:focus {
    border-bottom: inherit;
  }
}

main.entry article section.entry p {
  font-size: $entry-font-size-mobile;
  font-family: serif;
}

main.entry article section.copyright {
  font-size: $entry-copyright-font-size-mobile;
}

@include small-breakpoint {
  main.entry article section.entry p {
    font-size: $entry-font-size;
  }
  main.entry article section.copyright {
    font-size: $entry-copyright-font-size;
  }
}
