/* Daoistic definition */

// Centered at the top
#definition {
  padding: 0.5rem 1rem 0.5rem;
  border: 4px solid $font-color;
  border-radius: 20px;
  background-color: black;
  visibility: hidden;
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#definition.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 500ms;
}

#definition.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms, opacity 500ms;
}

@include small-breakpoint {
  #definition {
    max-width: $x-small;
  }
}

/* Daoistic lookup form */

article.lookup section.intro {
  margin-bottom: 1.5rem;
  border-bottom: 4px solid $light-background;
}

article.lookup section.output {
  font-size: x-large;
  padding-bottom: 1.5rem;
}

article.lookup section.form form {
  display: grid;
}

article.lookup section.form form textarea {
  resize: none;
  border-radius: 5px;
  color: $font-color;
  background-color: $light-background;
}

article.lookup section.form form input {
  margin-top: 0.5rem;
  width: max-content;
  padding: .4rem .7rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: green;
  color: $font-color;
}

article.lookup section.form form input:hover {
  filter: brightness(0.6);
}

/* Daoistic Unihan character */

a.unihan {
  font-weight: inherit;
  color: inherit;
  &:hover,
  &:active,
  &:focus {
    border-bottom: inherit;
  }
}

section.vocab > article.unihan {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 4px solid $light-background;
}

article.unihan {
  display: flex;
}

article.unihan section.utf8 {
  padding-right: 1rem;
  font-size: x-large;
}

article.unihan section.refs {
  text-align: center;
  padding-right: 1rem;
}

article.unihan section.refs div.kangxi {
  font-size: small;
  white-space: nowrap;
}

article.unihan section.refs div.links ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: inherit;
  margin: 0;
}

article.unihan section.refs div.links ul li {
  padding: 0;
  display: inline-block;
}
